/* BASIC SETUP */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
}
main {
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/thermal.jpg)  center / cover no-repeat;
    padding: 20px;
}
section {
    display: none;
    max-width: 975px;
    margin: auto;
}

/* HEADINGS */
h1, h2, h3 {
    text-align: center;
    color: antiquewhite;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
    margin: 10px 0 30px;
}
h3 {
    color: black;
    margin-bottom: 40px;
    font-size: 1.3em;
}

/* BUTTONS */
button {
    display: block;
}

.start-button {
    margin: 50px auto 0;
    padding: 10px 25px;
    font-size: 1.5em;
}

.answer-button {
    margin: 10px auto 0;
    padding: 10px;
}

.next-question {
    font-size: 1.25em;
    margin: auto;
    padding: 10px;
}

.quiz-reset {
    font-size: 1.25em;
    margin: 40px auto 0;
    padding: 10px;
}


/* PROGESS CONTENT - questions number and score */
.progress {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
}


/* HEADER */
header {
    height: 20vh;
    background: rgba(0, 102, 204, 0.75);
}

.head-container {
    height: 100%;
    margin: auto;
    padding: 10px;
    max-width: 1146px;
}

.logo {
    display: block;
    margin: auto;
    width: 100px;
}


/* START PAGE */
.start-quiz {
    display: block;
    padding: 50px 5px;
}


/* QUESTION SECTION 
.question-section {
    display: block;
}
*/

/* FORM SECTION */
.question-form {
    width: 80vw;
    max-width: 800px;
    background: linear-gradient(rgba(250, 235, 215, 0.5), rgba(250, 235, 215, 0.5));
    margin: auto;
    padding: 15px;
    font-size: 1.3em;
}
.form-options {
    display: block;
    padding-bottom: 15px;
    
}
.answer-option {
    padding-left: 10px;
}


/* ANSWER-QUESTION RESPONSE SECTION */
.answer-feedback {
    width: 90vw;
    padding: 20px;
    background: linear-gradient(rgba(250, 235, 215, 0.5), rgba(250, 235, 215, 0.5));
}
.answer-image {
    display: block;
    width: 75%;
    margin: auto;
}



/* OVERALL SCORE SECTION */
.score-feedback {
    width: 90vw;
    padding: 20px;
    background: linear-gradient(rgba(250, 235, 215, 0.5), rgba(250, 235, 215, 0.5));
}

.final-feedback-img {
    display: block;
    width: 40%;
    max-width: 285px;
    margin: auto;
}



/* FOOTER */
footer {
    position: fixed;
    height: 5vh;
    width: 100vw;
    background-color: rgba(255, 153, 51);
    bottom: 0;
}

