/* SCREENS WITH A MINIMUM SCREEN SIZE OF 680PX */
@media screen and (min-width: 680px) {
    /* BASIC SETUP */
    body {
        font-size: 1.35em;
    }

    /* HEADER ELEMENTS */
    .head-container {
        position: relative;
    }

    .head-container div {
        position: absolute;
        bottom: 3vh;
    }
    .head-container div:first-of-type {
        left: 20px;
    }
    .head-container div:last-of-type {
        right: 20px;
    }


    .progress {
        margin-top: 5px;
    }











}


/* 
.banner {
        position: relative;
        
    }
    .banner div {
        position: absolute;
        bottom: 1vh;
    }
    .banner:first-child {
        left: 35px;
    }

    .score-div {
        right: 35px;
    }
    .logo {
        height: 18vh;
        width: auto;
    }

    
    .progress {
        margin-top: 5px;
    }

    
    .start-quiz {
        margin-top: 100px;
    }






*/