/* SCREENS WITH A MINIMUM SCREEN SIZE OF 750PX */
@media screen and (min-width: 750px) {
    /* BASIC SETUP */
    body {
        font-size: 1.5em;
    }

    main {
        padding: 20px;
    }

    /* HEADER ELEMENTS */
    .head-container {
        position: relative;
        padding: 15px;
    }

    .head-container div {
        position: absolute;
    }
    .head-container div:first-of-type {
        left: 20px;
        bottom: 2vh;
    }

    .logo {
        height: 17vh;
    }

    .head-container div:last-of-type {
        right: 20px;
        bottom: 8vh;
    }


    /* START PAGE */
    .start-quiz {
        margin-top: 80px;
    }


    /* FORM SECTION */
    .question-section {
        margin-top: 30px;
    }

    h2 {
        font-size: 1.5em;
    }

    .question-form {
        font-size: 1.4em;
        margin-top: 50px;
        padding: 20px;
    }

    input[type="radio"] {
        transform: scale(1.7);
    }

    .answer-button {
        margin-top: 25px;
    }


    /* ANSWER-QUESTION RESPONSE AND OVERALL SCORE SECTION */
    .next-question {
        margin-top: 40px;
        font-size: 1.4em;
    }

    .answer-feedback-text {
        margin: 20px 30px;
    }



}

